doctype xml
rss(version='2.0',
	xmlns:content='http://purl.org/rss/1.0/modules/content/',
	xmlns:wfw='http://wellformedweb.org/CommentAPI/',
	xmlns:dc='http://purl.org/dc/elements/1.1/'
	xmlns:atom='http://www.w3.org/2005/Atom')
	channel
		- var posts = env.helpers.getBlogPosts(contents);
		title= locals.name
		atom:link(href=locals.url + '/blog/feed.xml', rel='self', type='application/rss+xml')
		link= locals.url
		description= locals.description
		pubDate= posts[0].rfc822date
		generator Wintersmith - https://github.com/jnordberg/wintersmith
		language en
		for post in posts
			- var permalink = locals.url + post.url
			item
				title= post.title
				link= permalink
				pubDate= post.rfc822date
				guid(isPermaLink='true')= permalink
				author= post.author
				//- passing locals.url resolves all relative urls to absolute
				description= post.getHtml(locals.url)
