mixin post(post, full)
	- var postExtraClass = full ? '' : 'intro'
	article.post(class=postExtraClass)
		header.post-header
			h2.post-title: a(href=post.url)= post.title
			.meta
				span.date(title=moment(post.date).format('LLLL'))= moment(post.date).fromNow()
				if post.metadata.tags
					ul.tags
						each tag in post.metadata.tags
							li: a(href=env.helpers.tagHref(tag))='#' + tag
		section.post-content
			| !{ typogr(full ? post.html : post.intro).typogrify() }
			if !full && post.hasMore
				p.more: a(href=post.url) more