doctype html
block vars
	- var bodyclass = null;
html(lang='en')
	head
		block head
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
			meta(name='viewport', content='width=device-width')
			meta(name='description', content='The personal website and blog of Robert Ferris.')
			title
				block title
					= locals.name
			link(rel='alternate', href='/blog/feed.xml', type='application/rss+xml', title=locals.description)
			link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.4.2/pure-min.css')
			link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css')
			link(rel='stylesheet', href='/css/main.css')
			script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
	body(class=bodyclass)
		.pure-g-r
			.sidebar.pure-u-1-4
				header.header
					hgroup
						.photo
						h1.title= locals.name
						h2.tagline= locals.tagline
					nav.nav
						ul.nav-list
							li.nav-item: a(href='/').pure-button about me
							li.nav-item: a(href='/blog/').pure-button blog
			.content.pure-u-3-4
				main
					block content
				footer.footer
					block footer
						div.pure-menu.pure-menu-horizontal.pure-menu-open
							ul
								block footer-nav
									//- li: a(href='#') lol
							p.copyright &copy; #{ new Date().getFullYear() } #{ locals.copyrightName }